*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #cce8e9;
  font-family: 'Montserrat', sans-serif;
}

.Container{
  display: flex;
  flex-flow: column;
  background-color: #EE6565;
  height: 100vh;
}